<br />
<div class="container text-center">
  <div class="row">
    <div class="col-sm">
      <a [routerLink]="['/detail']">
        <div class="card">
          <img
            src="../assets/img/placeholder-695350.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">ここに説明文を入れます.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm">
      <div class="card">
        <img
          src="../assets/img/placeholder-695350.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">ここに説明文を入れます.</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img
          src="../assets/img/placeholder-695350.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">ここに説明文を入れます.</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img
          src="../assets/img/placeholder-695350.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">ここに説明文を入れます.</p>
        </div>
      </div>
    </div>
  </div>
</div>
